.blog {
    display: inline-flex;
    margin: 0;
}

.block {
    margin: 0 10px 0 110px;
    max-width: 380PX;
}

.date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #818181;
    mix-blend-mode: normal;
}

.head-text {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin: 60px 0 15px 110px;
}